<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    店铺详情
    <small>店铺详情</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-user"></i>店铺详情</a></li>
    <li class="active">店铺详情</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">店铺信息</h3>
        </div><!-- /.box-header -->
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th>Shop</th>
                <td></td>
              </tr>
              <tr>
                <th style="width:30%">ID</th>
                <td><%= @shop.id %></td>
              </tr>
              <tr>
                <th>店名</th>
                <td><%= @shop.name %></td>
              </tr>
              <tr>
                <th>热线电话</th>
                <td><%= @shop.hotline %></td>
              </tr>
              <tr>
                <th>面积</th>
                <td><%= @shop.area %></td>
              </tr>
              <tr>
                <th>地址</th>
                <td><%= @shop.address %></td>
              </tr>
              <tr>
                <th>店铺照片</th>
                <td>
                  <%= link_to @shop.photo.url(:preview), class: "fluidbox-link" do %>
                    <%= image_tag @shop.photo.url(:normal) %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= render "shop_user" %>
        </div>
        <div class="box-footer">
          <%= link_to "编辑", edit_admin_shop_path, class: "btn btn-success pull-left" %>
          <%= link_to "返回", admin_shops_path, class: "btn btn-success pull-right" %>
        </div>
      </div><!-- /.box -->
    </div>
  </div>
</section>
