<!DOCTYPE html>
<html>
  <head>
    <title>BiteTree</title>
    <%= stylesheet_link_tag    'admin_application', media: 'all' %>
    <%= javascript_include_tag 'admin_application' %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="renderer" content="webkit">
  </head>
  <body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">
      <%= render "layouts/admin/header" %>
      <!-- Left side column. contains the logo and sidebar -->
      <%= render "layouts/admin/sidebar" %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <%= yield %>
      </div><!-- /.content-wrapper -->
      <%= render "layouts/admin/footer" %>
      <!-- Control Sidebar -->
      <%= render "layouts/admin/control_sidebar" %>
    </div><!-- ./wrapper -->
  </body>
</html>
