<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    编辑用户
    <small>编辑用户</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-user"></i>编辑用户</a></li>
    <li class="active">编辑用户</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6"> <!-- general form elements -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">用户信息</h3>
          <%= link_to "返回", admin_user_path, class: "btn btn-success pull-right" %>
        </div><!-- /.box-header -->
        <div class="box-body">
          <!-- form start -->
          <%= form_for @user, url: admin_user_path do |f| %>
            <div class="form-group">
              <label for="email">邮箱</label>
              <%= f.email_field :email, required: true, class: "form-control", placeholder: "请输入邮箱" %>
            </div>
            <div class="form-group">
              <label for="username">用户名</label>
              <%= f.text_field :username, class: "form-control", placeholder: "请输入用户名" %>
            </div>
            <div class="form-group">
              <label for="nickname">昵称</label>
              <%= f.text_field :nickname, class: "form-control", placeholder: "请输入昵称" %>
            </div>
            <div class="form-group">
              <label for="phone">手机号</label>
              <%= f.text_field :phone, class: "form-control", placeholder: "请输入手机号" %>
            </div>
            <div class="form-group">
              <label for="address">地址</label>
              <%= f.text_field :address, class: "form-control", placeholder: "请输入地址" %>
            </div>
            <div class="form-group">
              <label for="avatar">上传用户头像</label>
              <% if @user.avatar.url %>
                <div>
                  <label>当前用户已上传的头像</label>
                  <%= image_tag @user.avatar, class: "img-circle", alt: "User Image", size: "32" %>
                </div>
              <% end %>
              <%= f.file_field :avatar, required: @user.avatar.url.nil?, accept: "image/jpg,image/jpeg,image/png,image/gif" %>
            </div>
            <div class="form-group">
              <%= f.submit "保存", data: {disable_with: "创建中..."}, class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div><!-- /.box -->
    </div>
  </div>
</section>
