<!DOCTYPE html>
<html>
  <head>
    <title>管理员登录</title>
    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'devise', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
  </head>
  <body class="login-page">
    <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
